<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
- List popular languages for Data Science
- List popular libraries for Data Science
- Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
3. Scala
4. Java
5. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. scikit-Learn
6. Keras
7. Tensorflow
8. pytorch
9. ggplot2
10. dplyr
11. stringr
12. caret

| Data Science Tools |
|:------------------|
|Jupyter Notebook|
|Google Colab|
|Github|
|R Studio|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
##This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
##This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Authour</h2>
VINOTH KUMAR SAMPATH